body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%; 
    background-color: black;
    position: relative;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.main-text {
    position: relative;
    z-index: 10;
}

h1 {
    font-size: 12em;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    position: relative;  
    top: 20%;
    left: 15%;
    padding-top: 120px;
    z-index: 10;
    opacity: 0; 
    display: inline-block;
    transform: translateY(50px);
    animation: slideUp 1s ease-in forwards;
    transition: transform 1s ease, opacity 1s ease;
}

h2 {
    color: white;
    position: absolute;
    top: 20px;
    left: 16%;
    padding-top: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    z-index: 10;
    opacity: 0;
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0.6s;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.quote-text {
    position: relative;
    z-index: 11;
    padding-top: 500px;
    text-align: center;
}

.quote-text p {
    font-size: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1s ease-in forwards;
    animation-delay: 2.2s;
}

.quote-link {
    text-decoration: none; 
    color: inherit; 
}

.interactive-text {
    display: flex;
    justify-content: center;
    font-size: 10em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    align-items: center;
    transition: transform 2s ease;
}

.interactive-text span {
    display: inline-block;
    transition: transform 0.3s ease-out;
    transform-origin: bottom;
    pointer-events: auto;
    margin-top: 900px;
}

.hidden-text {
    display: block;
    position: absolute;
    top: 1865px;
    left: 50%;
    transform: translateX(-40%);
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 8;
    opacity: 0;
}

.hidden-text.show  {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.buttons {
    position: relative;
    z-index: 20;
}

#nextTextBtn {
    position: absolute;
    left: 800px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 0.2em;
    transition: transform 0.2s ease-in-out;
    margin-top: 360px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

/* 이거 지금 작동 안함
#prevTextBtn {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.6s ease 0.3s, transform 0.6s ease 0.3s;
}

#prevTextBtn.show {
    opacity: 1;
    transform: translateX(0);
}
*/

#nextTextBtn:hover {
    transform: translateY(-50%) scale(1.2);
}

button {
    cursor: pointer;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    font-family: 'Playfair Display', serif;
    transition: transform 0.3s ease-out;
}

button:hover {
    transform: scale(0.1em);
}

.hidden-btn {
    display: none;
}


@keyframes waveEffect {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

@keyframes floatEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#waveText {
    font-size: 12em;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    position: relative;  
    top: 20%;
    left: 15%;
    padding-top: 120px;
    z-index: 10;
    transition: transform 0.3s ease;
    display: inline-block;
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0.5s;
    transform-origin: left center;
}

